**/*.log
**/*.md
**/*.php~
**/*.dist.php
**/*.dist
**/*.cache
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/.phplint.yml
**/.php-cs-fixer.php
**/composer-unused.php
**/phpunit.xml
**/psalm.xml
**/rector.php
**/compose.*.yaml
**/compose.*.yml
**/compose.yaml
**/compose.yml
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
.github/
tests/
var/cache/*
var/log/*
vendor/
.editorconfig
.env.*.local
.env.local
.env.local.php
.env.test
