<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    executionOrder="depends,defects"
    beStrictAboutOutputDuringTests="true"
    cacheDirectory="var/cache/.phpunit"
    colors="true"
>

    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="KERNEL_CLASS" value="App\Infrastructure\Kernel"/>
        <server name="SYMFONY_DEPRECATIONS_HELPER" value="999999"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="functional">
            <directory>tests/Functional</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>src/*/Test</directory>
            <directory>src/*/*/Test</directory>
            <directory>src/*/*/*/Test</directory>
            <directory>src/*/Test/Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/*/Test</directory>
            <directory>src/*/*/Test</directory>
            <directory>src/*/*/*/Test</directory>
            <directory>src/*/Test/Unit</directory>
        </exclude>
    </source>

</phpunit>
